<div class="upload-section">
    <div style="display: inline-block; vertical-align: middle;">
        <button id="resetBtn" class="btn-icon">🔄</button>
        <div class="btn-combined">
            <input type="file" id="fileInput" accept="image/*" style="display: none;">
            <label for="fileInput" class="btn-combined-half btn-combined-left">Bild hochladen</label>
            <button id="generateBtn" class="btn-combined-half btn-combined-right">Puzzle generieren</button>
        </div>
    </div>
    <div style="display: inline-block; vertical-align: middle;">
        <button id="cleanGlobalBtn" class="btn" disabled>2 - Global säubern</button>
        <button id="extractBtn" class="btn" disabled>3 - Teile extrahieren</button>
        <button id="cleanPiecesBtn" class="btn" disabled>4 - Teile säubern</button>
        <button id="cornersBtn" class="btn" disabled>5 - Kanten erkennen</button>
        <button id="matchingBtn" class="btn" disabled>6 - Matches finden</button>
        <button id="solverBtn" class="btn" disabled>7 - Puzzle lösen</button>
    </div>
</div>
