{% extends "base.html" %}

{% block content %}
    {% include 'components/buttons.html' %}
    {% include 'components/status.html' %}
    {% include 'components/variant_selector.html' %}
    {% include 'components/global_clean_results.html' %}
    {% include 'components/extraction_results.html' %}
    {% include 'components/piece_clean_results.html' %}
    {% include 'components/edge_results.html' %}
    {% include 'components/match_results.html' %}
    {% include 'components/solution_results.html' %}
{% endblock %}